[remote "GitLab"]
	url = git@gitlab.com:<user_name>/<gitlab_repo_name>.git
	fetch = +refs/heads/*:refs/remotes/GitLab/*
[remote "GitHub"]
	url = git@github.com:<user_name>/<github_repo_name>.git
	fetch = +refs/heads/*:refs/remotes/GitHub/*
[remotes]
	all = GitLab GitHub
#	default = GitLab GitHub
[remote "all"]
	url =
	skipDefaultUpdate = true
	pushurl = git@gitlab.com:<user_name>/<gitlab_repo_name>.git
	pushurl = git@github.com:<user_name>/<github_repo_name>.git
[remote]
	pushDefault = all
[remote "backup"]
	url = /PATH/TO/BACKUP
	mirror = true
	skipDefaultUpdate = true
